@media (min-width: 500px) {
	.figure {
        float: left;
        margin: 0 15px 10px 0;
    }
    .figure-second {
        float: right;
        margin: 0 0px 10px 15px;
    }
}

@media (min-width: 620px) {
    .header {
        padding: 20px 0;
    }

    .header_img {
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 860px) { /* larger than tablet */
    .main {
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
		background-color: #FF5733;
    }

    .sidebar {
        width: 250px;
        flex-shrink: 0;
        margin-left: 20px;
    }
}



a {
	color:#BF4126;
}

.main {
	margin:auto;
	background-color: #FF5733;
	width: 30%;
	border: 6px solid #BF4126;
	border-radius: 7px;
	margin-top:15%;
}

.main1 {
	margin: auto;
	background-color: #FF5733;
	width: 60%;
	
	
}

